# Database
MYSQL_ROOT_PASSWORD = "root"
MYSQL_DATABASE = "anonshare"
MYSQL_USER = "anonshare"
MYSQL_PASSWORD = "anonshare"
MYSQL_PORT = 3306
MYSQL_HOST_NAME = "localhost"

# Other
TZ = "Asia/Tokyo"
DEBUG=1