# Database
MYSQL_ROOT_PASSWORD = "root"
MYSQL_DATABASE = "anonshare"
MYSQL_USER = "anonshare"
MYSQL_PASSWORD = "anonshare"
MYSQL_PORT = 3306
MYSQL_HOST_NAME = "localhost"

# Other
TZ = "Asia/Tokyo"
DEBUG=1

# Secret Key
SECRET_KEY = "" # openssl rand -hex 32
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30